In [1]:
import pickle
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['CustomerId','RowNumber','Surname'],axis=1)

In [4]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [5]:
onehot_encode_geography=OneHotEncoder(handle_unknown='ignore') 
geo_encoded=onehot_encode_geography.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encode_geography.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
data =  pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

### Split the data into features and target

In [7]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

### Split the data into train and test sets

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

### Save the encoders and the scaler

In [10]:
with open('label_encoder_gender.pkl','wb') as file:
  pickle.dump(label_encoder_gender,file)

with open('onehot_encode_geography.pkl','wb') as file:
  pickle.dump(onehot_encode_geography,file)

with open('scaler.pkl','wb') as file:
  pickle.dump(scaler,file)

# ANN Regression

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

## Build the Model

In [12]:
model = Sequential([
  Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
  Dense(32,activation='relu'),
  Dense(1) #output layer for regression
])

2025-09-03 17:42:27.250006: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1
2025-09-03 17:42:27.250068: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 8.00 GB
2025-09-03 17:42:27.250079: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 2.67 GB
2025-09-03 17:42:27.250425: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-09-03 17:42:27.250997: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

## compile the model

In [13]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

#setup the TensorBoard
log_dir = "regressionlogs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [21]:
# Setup Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

## Train the Model

In [22]:
history = model.fit(
  X_train,y_train,
  validation_data=(X_test,y_test),
  epochs=100,
  callbacks=[early_stopping_callback,tensorboard_callback]

)

Epoch 1/100
250/250 [==============================] - 1s 5ms/step - loss: 76058.1250 - mae: 76058.1250 - val_loss: 74428.5781 - val_mae: 74428.5781
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 75706.7422 - mae: 75706.7422 - val_loss: 73841.1875 - val_mae: 73841.1875
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 75345.7188 - mae: 75345.7188 - val_loss: 73470.5781 - val_mae: 73470.5781
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 75029.0312 - mae: 75029.0312 - val_loss: 73385.3594 - val_mae: 73385.3594
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 74630.3750 - mae: 74630.3750 - val_loss: 72886.6094 - val_mae: 72886.6094
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 74234.6953 - mae: 74234.6953 - val_loss: 72684.0391 - val_mae: 72684.0391
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 74049.1484 - mae: 74049.1484 - val_loss: 72681.3047 - val_mae: 72681.3047
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 73547.3594 - mae: 73547.3594 - val_loss: 72316.4141 - val_mae: 72316.4141
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 73318.3516 - mae: 73318.3516 - val_loss: 71572.6953 - val_mae: 71572.6953
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 72774.4844 - mae: 72774.4844 - val_loss: 71511.0391 - val_mae: 71511.0391
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 72401.0781 - mae: 72401.0781 - val_loss: 70840.5703 - val_mae: 70840.5703
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 72073.4453 - mae: 72073.4453 - val_loss: 70384.6016 - val_mae: 70384.6016
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 71671.0781 - mae: 71671.0781 - val_loss: 70184.6953 - val_mae: 70184.6953
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 71297.8906 - mae: 71297.8906 - val_loss: 69834.7578 - val_mae: 69834.7578
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 70981.8984 - mae: 70981.8984 - val_loss: 69212.9688 - val_mae: 69212.9688
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 70698.5312 - mae: 70698.5312 - val_loss: 69011.7422 - val_mae: 69011.7422
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 70229.9062 - mae: 70229.9062 - val_loss: 68522.6953 - val_mae: 68522.6953
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 70062.0078 - mae: 70062.0078 - val_loss: 68189.3047 - val_mae: 68189.3047
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 69523.0469 - mae: 69523.0469 - val_loss: 68021.9922 - val_mae: 68021.9922
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 69233.0156 - mae: 69233.0156 - val_loss: 67512.7891 - val_mae: 67512.7891
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 68841.3281 - mae: 68841.3281 - val_loss: 67242.7422 - val_mae: 67242.7422
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 68464.2500 - mae: 68464.2500 - val_loss: 66923.9766 - val_mae: 66923.9766
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 68184.5078 - mae: 68184.5078 - val_loss: 66419.8516 - val_mae: 66419.8516
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 67798.5859 - mae: 67798.5859 - val_loss: 66582.8125 - val_mae: 66582.8125
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 67461.0234 - mae: 67461.0234 - val_loss: 65852.9844 - val_mae: 65852.9844
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 66992.7812 - mae: 66992.7812 - val_loss: 65766.3750 - val_mae: 65766.3750
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 66651.4453 - mae: 66651.4453 - val_loss: 65069.1406 - val_mae: 65069.1406
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 66238.1172 - mae: 66238.1172 - val_loss: 64672.3008 - val_mae: 64672.3008
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 65934.3828 - mae: 65934.3828 - val_loss: 64370.8203 - val_mae: 64370.8203
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 65593.1719 - mae: 65593.1719 - val_loss: 63980.7422 - val_mae: 63980.7422
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 65175.1211 - mae: 65175.1211 - val_loss: 63657.6953 - val_mae: 63657.6953
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 64883.8750 - mae: 64883.8750 - val_loss: 63291.9531 - val_mae: 63291.9531
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 64482.1328 - mae: 64482.1328 - val_loss: 62938.6484 - val_mae: 62938.6484
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 64183.3906 - mae: 64183.3906 - val_loss: 62862.2422 - val_mae: 62862.2422
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 63812.9219 - mae: 63812.9219 - val_loss: 62283.1758 - val_mae: 62283.1758
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 63443.3867 - mae: 63443.3867 - val_loss: 61905.0938 - val_mae: 61905.0938
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 63043.7227 - mae: 63043.7227 - val_loss: 62173.4375 - val_mae: 62173.4375
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 62739.5742 - mae: 62739.5742 - val_loss: 61261.8672 - val_mae: 61261.8672
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 62460.7461 - mae: 62460.7461 - val_loss: 60973.6367 - val_mae: 60973.6367
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 62075.0898 - mae: 62075.0898 - val_loss: 60610.0781 - val_mae: 60610.0781
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 61760.4414 - mae: 61760.4414 - val_loss: 60241.1758 - val_mae: 60241.1758
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 61358.1758 - mae: 61358.1758 - val_loss: 59940.3750 - val_mae: 59940.3750
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 61082.4141 - mae: 61082.4141 - val_loss: 60503.6758 - val_mae: 60503.6758
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 60817.6094 - mae: 60817.6094 - val_loss: 59509.6641 - val_mae: 59509.6641
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 60448.6523 - mae: 60448.6523 - val_loss: 58961.7773 - val_mae: 58961.7773
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 60013.7539 - mae: 60013.7539 - val_loss: 58736.3750 - val_mae: 58736.3750
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 59741.2070 - mae: 59741.2070 - val_loss: 58713.3828 - val_mae: 58713.3828
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 59410.1016 - mae: 59410.1016 - val_loss: 58585.6289 - val_mae: 58585.6289
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 59033.6406 - mae: 59033.6406 - val_loss: 57734.6133 - val_mae: 57734.6133
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 58756.9766 - mae: 58756.9766 - val_loss: 57895.7812 - val_mae: 57895.7812
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 58464.1602 - mae: 58464.1602 - val_loss: 57190.5000 - val_mae: 57190.5000
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 58019.7969 - mae: 58019.7969 - val_loss: 57228.1758 - val_mae: 57228.1758
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 57845.0547 - mae: 57845.0547 - val_loss: 56691.6328 - val_mae: 56691.6328
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 57583.2734 - mae: 57583.2734 - val_loss: 56273.6953 - val_mae: 56273.6953
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 57108.4609 - mae: 57108.4609 - val_loss: 56326.8711 - val_mae: 56326.8711
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 56871.1211 - mae: 56871.1211 - val_loss: 55840.3828 - val_mae: 55840.3828
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 56693.7422 - mae: 56693.7422 - val_loss: 55556.2539 - val_mae: 55556.2539
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 56224.9336 - mae: 56224.9336 - val_loss: 55172.5859 - val_mae: 55172.5859
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 56069.7070 - mae: 56069.7070 - val_loss: 55932.5117 - val_mae: 55932.5117
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 55793.6133 - mae: 55793.6133 - val_loss: 54798.7969 - val_mae: 54798.7969
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 55506.0938 - mae: 55506.0938 - val_loss: 55396.6523 - val_mae: 55396.6523
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 55188.7461 - mae: 55188.7461 - val_loss: 54253.8398 - val_mae: 54253.8398
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 54963.8398 - mae: 54963.8398 - val_loss: 54097.6641 - val_mae: 54097.6641
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 54733.2930 - mae: 54733.2930 - val_loss: 53699.5508 - val_mae: 53699.5508
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 54409.8203 - mae: 54409.8203 - val_loss: 54158.4883 - val_mae: 54158.4883
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 54145.0273 - mae: 54145.0273 - val_loss: 53609.7617 - val_mae: 53609.7617
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 53988.1875 - mae: 53988.1875 - val_loss: 53381.0781 - val_mae: 53381.0781
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 53678.5703 - mae: 53678.5703 - val_loss: 52840.4688 - val_mae: 52840.4688
Epoch 69/100
250/250 [==============================] - 1s 5ms/step - loss: 53516.8555 - mae: 53516.8555 - val_loss: 52651.7812 - val_mae: 52651.7812
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 53255.3633 - mae: 53255.3633 - val_loss: 53482.2969 - val_mae: 53482.2969
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 52993.3359 - mae: 52993.3359 - val_loss: 53167.0977 - val_mae: 53167.0977
Epoch 72/100
250/250 [==============================] - 1s 5ms/step - loss: 52921.4609 - mae: 52921.4609 - val_loss: 52062.4023 - val_mae: 52062.4023
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 52557.0234 - mae: 52557.0234 - val_loss: 52029.1289 - val_mae: 52029.1289
Epoch 74/100
250/250 [==============================] - 1s 5ms/step - loss: 52297.6523 - mae: 52297.6523 - val_loss: 51790.8125 - val_mae: 51790.8125
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 52288.8008 - mae: 52288.8008 - val_loss: 51984.8828 - val_mae: 51984.8828
Epoch 76/100
250/250 [==============================] - 1s 5ms/step - loss: 52131.2656 - mae: 52131.2656 - val_loss: 51471.1016 - val_mae: 51471.1016
Epoch 77/100
250/250 [==============================] - 1s 5ms/step - loss: 51902.2852 - mae: 51902.2852 - val_loss: 51455.5039 - val_mae: 51455.5039
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 51714.4219 - mae: 51714.4219 - val_loss: 51222.6406 - val_mae: 51222.6406
Epoch 79/100
250/250 [==============================] - 1s 5ms/step - loss: 51568.8555 - mae: 51568.8555 - val_loss: 51131.1602 - val_mae: 51131.1602
Epoch 80/100
250/250 [==============================] - 1s 5ms/step - loss: 51507.6562 - mae: 51507.6562 - val_loss: 51000.0781 - val_mae: 51000.0781
Epoch 81/100
250/250 [==============================] - 1s 5ms/step - loss: 51276.0117 - mae: 51276.0117 - val_loss: 51357.7305 - val_mae: 51357.7305
Epoch 82/100
250/250 [==============================] - 1s 5ms/step - loss: 51276.5430 - mae: 51276.5430 - val_loss: 50790.1719 - val_mae: 50790.1719
Epoch 83/100
250/250 [==============================] - 1s 5ms/step - loss: 51102.1602 - mae: 51102.1602 - val_loss: 50729.3164 - val_mae: 50729.3164
Epoch 84/100
250/250 [==============================] - 1s 5ms/step - loss: 50911.1406 - mae: 50911.1406 - val_loss: 50998.5898 - val_mae: 50998.5898
Epoch 85/100
250/250 [==============================] - 1s 5ms/step - loss: 50903.7812 - mae: 50903.7812 - val_loss: 50782.6094 - val_mae: 50782.6094
Epoch 86/100
250/250 [==============================] - 1s 5ms/step - loss: 50731.6445 - mae: 50731.6445 - val_loss: 50814.0781 - val_mae: 50814.0781
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 50746.7227 - mae: 50746.7227 - val_loss: 50421.1289 - val_mae: 50421.1289
Epoch 88/100
250/250 [==============================] - 1s 5ms/step - loss: 50522.8945 - mae: 50522.8945 - val_loss: 50396.0234 - val_mae: 50396.0234
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 50579.6484 - mae: 50579.6484 - val_loss: 50381.8398 - val_mae: 50381.8398
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 50388.9570 - mae: 50388.9570 - val_loss: 50277.1133 - val_mae: 50277.1133
Epoch 91/100
250/250 [==============================] - 1s 5ms/step - loss: 50264.5664 - mae: 50264.5664 - val_loss: 50298.4258 - val_mae: 50298.4258
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 50256.6836 - mae: 50256.6836 - val_loss: 50386.6562 - val_mae: 50386.6562
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 50285.3047 - mae: 50285.3047 - val_loss: 50279.1719 - val_mae: 50279.1719
Epoch 94/100
250/250 [==============================] - 1s 5ms/step - loss: 50409.9141 - mae: 50409.9141 - val_loss: 50109.6289 - val_mae: 50109.6289
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 50081.7383 - mae: 50081.7383 - val_loss: 50356.0586 - val_mae: 50356.0586
Epoch 96/100
250/250 [==============================] - 1s 5ms/step - loss: 50120.4531 - mae: 50120.4531 - val_loss: 50287.0547 - val_mae: 50287.0547
Epoch 97/100
250/250 [==============================] - 1s 5ms/step - loss: 50078.0156 - mae: 50078.0156 - val_loss: 50883.9297 - val_mae: 50883.9297
Epoch 98/100
250/250 [==============================] - 1s 5ms/step - loss: 50259.3438 - mae: 50259.3438 - val_loss: 50021.5234 - val_mae: 50021.5234
Epoch 99/100
250/250 [==============================] - 1s 5ms/step - loss: 50099.3984 - mae: 50099.3984 - val_loss: 50063.7461 - val_mae: 50063.7461
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 50052.3828 - mae: 50052.3828 - val_loss: 50034.7812 - val_mae: 50034.7812

In [27]:
%reload_ext tensorboard

%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6006 (pid 7923), started 0:00:51 ago. (Use '!kill 7923' to kill it.)

## Evaluate Model on test data

In [28]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50034.7812 - mae: 50034.7812
Test MAE : 50034.78125

## Save the model

In [30]:
model.save('regression_model.h5')

/Users/leenakannan/Documents/Skills/Projects/churn_ann/ann/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(